.main-container{
    display: flex;
    width: 90vw;
    height: 90vh;
    margin: auto;
    margin-top: 25px;
}
.container-1{
    margin-top: 25px;
    width: 30%;
}
.sidebar{
    border-right: 3px solid gold;
    padding-right: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.marketData{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}
.coin-info{
    width: 70%;
}

@media screen and (max-width: 1230px) {
    .main-container{
        display: flex;
        flex-direction: column;
        width: 90vw;
        margin: auto;
        margin-top: 10px;
    }
    .container-1{
        margin-top: 25px;
        width: 100%;
    }
    .sidebar{
        border-right: none;
        padding-right: 15px;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .coin-info{
        width: 100%;
    }
    .marketData{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        width: 100%;
    }
    .marketData:button{
        width: 20%;
    }

}
@media screen and (max-width: 600px) {
    .main-container{
        margin-top: 10px;
    }
    .marketData{
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-direction: column;
        width: 100%;
    }
    .coin-info{
        width: 100%;
        margin: 0;
        padding: 0;
    }
}