.main-container{
    width: 90vw;
    height: 90vh;
    margin: auto;
}
.container{
    display: flex;
    margin-top: 20px;
}
.sidebar{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    padding: 25;
    border-right: 2px solid gold;
    padding-right: 20px;
}
.heading{
    font-weight: bold;
    margin-bottom: 20;
    font-family: "Montserrat";
}
.description{
    width: 100%;
    font-family: "Montserrat";
    padding: 25;
    padding-bottom: 15;
    padding-top: 0;
    text-align: justify;
}
.marketData{
    align-self: flex-start;
    padding: 25;
    padding-top: 10;
    width: 100%;
}

@media screen and (max-width:600px) {
    .container{
        display: flex;
        flex-direction: column;
        margin-top: 5px;
    }
    .sidebar{
        width: 100%;
        border-right: none;
        margin-bottom: 20px;
    }
    
}


@media screen and (max-width: 1200px) and (min-width: 601px) { 
    .container{
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }
    .sidebar{
        width: 100%;
        border-right: none;
        margin-bottom: 20px;
    }
    .containe{
        width: 100%;
    }
    .description{
        text-align: center;
    }
    .marketData{
        display: flex;
        justify-content: space-evenly;
    }
}